@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");


//Fonts
$fonts:(
	'decoFont': ('Arima', cursive),
    'navFont': sans-serif,
    'noto': ('Noto Sans', sans-serif),
    "titan":("Titan One", cursive),
);


$textLg: 3rem;
$textMd: 2rem;
$textSm: 1.5rem;

$textBold: 700;
$textRegular: 400;
$textLight: 300;