//Colors
$color:(
    "verde-d": #94B49F,
    "verde-l": #CEE5D0,
    "verde-f": #19c26e,
    "marron": #bd8e71,
    "marron-l": #ECB390,
    "marron-r": #c97562,
    "marco": #d8cea5,
    "bg": #FCF8E8,
    "black": #161616,
    "violeta": #ab4493,
    "gris": #747d89,
    "white": #e7e7e7,
);


//sizing
$w-200: 200%;
$w-100: 100%;
$w-90: 90%;
$w-75: 75%;
$w-70: 70%;
$w-50: 50%;
$w-30: 30%;
$w-25: 25%;