/* Galeria */
.gal-banner {
    @extend %galeria-banner;
}

.gal-sub {
    @extend %galeria-sub;
}


/* Galeria imagenes */
.baset {
    @include box-flex(center, flex-start, column);

    margin-left: 35px;

    @media (min-width: 768px) {
        flex-direction: row;
        margin: 0;
    }
}

.galeria-base {
    @extend %div-base;



    @media (min-width: 600px) {
        margin: 10px 5px;

    }

    @media (min-width: 820px) {
        margin: 10px 15px;
    }

    p {
        padding: 2%;
        margin-top: 2px;
        width: 100%;
        color: map-get($map: $color, $key: "bg");
        font-size: 1.9rem;
        font-family: map-get($map: $fonts, $key: "decoFont");
        background-color: map-get($map: $color, $key: "verde-d");
        border-radius: 5px;

        @media (min-width: 600px) {
            font-size: 2.1rem;
        }

    }
}

.not {
    display: none;
}

.boton-img {
    @extend %boton;

    background: map-get($map: $color, $key: "verde-l");
    border: 1px solid map-get($map: $color, $key: "verde-d");
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-family: map-get($map: $fonts, $key: "noto");
}


.img-art {
    width: 90%;
    padding: 2%;
    margin: 10px 0;
    border-radius: 10px;
    background-color: map-get($map: $color, $key: "marron-r");

    @media (min-width: 600px) {
        width: 80%;
    }

    @media (min-width: 1000px) {}
}

.img-art-sub {
    @extend.img-art;
    margin-left: 15%;
    width: 70%;

    @media (min-width: 600px) {
        width: 60%;
        margin-left: 20%;
    }


}

/* Whatsapp boton */
.btnWtsp {
    @extend %btnWtp;
}

.icnWtsp {
    @extend %icnWtp;
}