/* Footer */

.foot {
    @include box-flex(center, center, row);
    background: linear-gradient(0deg, rgba(148, 180, 159, 1) 48%, rgba(183, 204, 184, 1) 100%);
    padding: 5px 0;
    margin-top: 5px;

    h2 {
        text-decoration: none;
        font-family: map-get($map: $fonts, $key: "decoFont");
        color: map-get($map: $color, $key: "marron-r");
        font-size: $textSm;
        padding: 0 20px;

        @media (min-width: 480px) {
            font-size: $textMd;
        }

        @include medias(tablet) {
            font-size: 2.7rem;
        }

        @media (min-width: 820px) {
            margin-right: 80px;
        }

        @include medias(desktop) {
            margin-right: 180px;
            font-size: $textLg;
        }
    }
}

.foot__logo {
    width: 40px;

    @media (min-width: 480px) {
        width: 50px;
        margin-right: 20px;
    }

    @media (min-width: 820px) {
        margin-right: 120px;
    }

    @include medias(desktop) {
        margin-right: 250px;
        width: 80px;
    }
}

.foot__icon {
    width: 35px;

    @media (min-width: 480px) {
        width: 50px;
    }

    @include medias(desktop) {
        width: 80px;
    }
}