/* Galeria */
.galeria-container {
    display: flex;
    width: $w-90;
    padding: 1% 2%;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(252, 248, 232, 1) 0%, rgba(189, 142, 113, 1) 38%);
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    @media (min-width: 768px) {
        flex-wrap: nowrap;
    }

    @media (min-width: 1000px) {
        width: 80%;
    }
}

.galeria {
    flex: $w-50;
    padding: 5px;

    img {
        width: $w-100;
        margin-top: 10px;
    }
}


/* Galeria imagenes */
.galeria-base {
    @extend %div-base;

    p {
        margin-top: 5px;
        width: 80%;
        color: map-get($map: $color, $key: "bg");
        font-size: 1.7rem;
        font-family: map-get($map: $fonts, $key: "decoFont")
    }
}

.boton-img {
    @extend %boton;

    background: map-get($map: $color, $key: "verde-l");
    border: 1px solid map-get($map: $color, $key: "verde-d");
    color: map-get($map: $color, $key: "");
    margin-bottom: 5px;

}




.img-art {
    width: 90%;
    padding: 2%;
    margin: 5px 0;
    border-radius: 10px;
    background-color: map-get($map: $color, $key: "marron-r");

}

#more {
    display: none;
}