/* Galeria */
.galeria-container {
    display: flex;
    width: $w-90;
    padding: 1% 2%;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(252, 248, 232, 1) 0%, rgba(189, 142, 113, 1) 38%);
    border-radius: 10px;
    margin: 10px 0;

    @media (min-width: 768px) {
        flex-wrap: nowrap;
    }

    @media (min-width: 1000px) {
        width: 80%;
    }
}

.galeria {
    flex: $w-50;
    padding: 5px;

    img {
        width: $w-100;
        margin-top: 10px;
    }
}

.galeria-base{
     @extend %div-base;
}


