/*Nav*/
.nav-base {
    @media (min-width: 992px) {
        @include box-flex(center, center, row);
       

    }
}

nav {
    background: linear-gradient(90deg, rgba(216, 206, 165, 1) 0%, rgba(189, 142, 113, 1) 51%);
    
    @media (min-width: 992px) {
        margin-top: 2px;
        border-radius: 360px;
        width: 550px;
        
    }

    ul {
        li {
            font-size: 1.4rem;

            @media (min-width: 992px) {
                font-size: 1.8rem;
                
            }

            a {
                font-family: map-get($map:$fonts, $key:"navFont");
                margin: 0 8px;
            }
        }
    }

    img {
        width: 80px;

        @include medias(tablet) {
            width: 100px
        }
    }
}

/*Banner*/
.banner {
    @include box-flex(center, center, column);
    background: radial-gradient(circle, rgba(189, 142, 113, 1) 71%, rgba(216, 206, 165, 1) 100%);
    margin-top: 10px;

    img {
        width: $w-50;

        @include medias(desktop) {
            width: 35%;
        }
    }
}