/* Producto */
.product-base {
    @extend %div-base;
    width: 100% !important;
    

    @media (min-width: 820px) {
        width: 100% !important;
    }
}

.carrusel-body h2 {
    color: map-get($map: $color, $key: "bg");
    font-size: 26px;
    font-weight: $textLight;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 60px;
    font-family: map-get($map: $fonts, $key: "decoFont");


    &:after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 1px;
        background: map-get($map: $color, $key: "violeta");
        left: 0;
        right: 0;
        bottom: -20px;
    }
}

.boton {
    @extend %boton
}

.carousel {
    margin: 50px auto;
    padding: 0 70px;


    .thumb-wrapper {
        padding: 25px 15px;
        background: map-get($map: $color, $key: "bg");
        border-radius: 6px;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }

    .item {
        color: map-get($map: $colors, $key: "gris");
        min-height: 325px;
        text-align: center;
        overflow: hidden;

        img {
            max-width: $w-100;
            max-height: $w-100;
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
            border-radius: 10px;
        }

        h4 {
            font-size: 18px;
            font-family: map-get($map: $fonts, $key: "decoFont");
        }

        h4,
        p,
        ul {
            margin-bottom: 5px;
        }

        .img-box {
            height: 220px;
            margin-bottom: 20px;
            width: $w-100;
            position: relative;
        }
    }

    .item-price {
        font-size: 13px;
        padding: 2px 0;

        strike {
            opacity: 0.7;
            margin-right: 5px;
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    height: 30px;
    width: auto;
    background: map-get($map: $color, $key: "verde-d");
    margin: 70px 0;
    border-radius: 360px;
    opacity: 0.8;

    i {
        font-size: 36px;
        position: absolute;
        top: $w-50;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: $white;
        text-shadow: none;
        font-weight: $textBold;
    }

    &:hover {
        background: map-get($map: $color, $key: "violeta");
        opacity: 1;
    }
}

.carousel-control-prev {
    margin-left: 10px;

    i {
        margin-left: -2px;
    }

    @include medias(tablet) {
        width: 70px !important;
    }
}

.carousel-control-next {
    margin-right: 10px;

    i {
        margin-right: -4px;
    }

    @include medias(tablet) {
        width: 70px !important;
    }
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;

    .fa-heart {
        color: #ff6161;
    }
}

.star-rating {
    li {
        padding: 0;
    }

    i {
        font-size: 14px;
        color: #ffc000;
    }
}

/* Animated */
.animated {
    width: $w-100;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: map-get($map: $color, $key: "marron");
    border-radius: 20px;
}

.wrapper {
    width: 100vw;
    text-align: center;

    span {
        -webkit-text-stroke-width: 1.25px;
        -webkit-text-stroke-color: #000;
        font-size: 3rem;
        text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
        transform: translate(0, 100%) rotate(4deg);
        animation: jump 2s ease-in-out infinite;
        display: inline-block;
        font-family: map-get($map: $fonts, $key: "titan");
        color: #fff;

        @for $i from 1 through 11 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms * $i;
            }
        }

        @include medias(tablet) {
            font-size: 6rem;
        }

        @include medias(desktop) {
            font-size: 8rem;
        }
    }
}

@keyframes jump {
    33% {
        text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
    }

    50% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
    }

    66.67% {
        text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;
    }
}

@media (max-height: 200px) {
    .wrapper {
        transform: scale(0.2, 0.2);

    }
}